<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QL</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>

<body>
<nav>
   
   <h2>Quality Looks</h2>
    <hr>
   <a href="/">
        Home
   </a>

   <a href="/reviews/art">
        Reviews
   </a>
   
   <a href="/reviews/lecture">
        Lectures
   </a>
</nav>

<div id="devtool">    
    <form>
        <input type="text" placeholder = "Title" id = "art-title">
        <input type="text" placeholder = "Subtitle" id = "art-subtitle">
        <input type="text" placeholder = "Type" id = "art-type">
        <textarea  id = "art-text">
            
        </textarea>
        <input type="text" placeholder = "Score" id = "art-score">
        <input type="submit" id = "dev-submit">
        <button id = "update">Update</button>
        <button id = "delete">Delete</button>
        <input type="text" id = "username" placeholder = "Username">
        <input type="text" id = "password" placeholder = "Password">
    </form>
</div>

<div id="main">

    {{{body}}}

</div>

</body>
<script src = "/js/logic.js"></script>

</html>


