<link rel="stylesheet" href="/css/article.css">

<h1 id = "article-title"></h1>

<br>

<h3 id = "subtitle"></h3>

<hr>

<p id = "score">

</p>

<hr>

<article id = "body"></article>

<script src = "/js/article.js"></script>