<link rel="stylesheet" href="/css/style.css">

<div id="devtool">    
    <form>
        <input type="text" placeholder = "Title" id = "art-title">
        <input type="text" placeholder = "Subtitle" id = "art-subtitle">
        <input type="text" placeholder = "Type" id = "art-type">
        <textarea  id = "art-text"></textarea>
        <input type="text" placeholder = "Score" id = "art-score">
        <button id = "dev-submit">Submit</button>
        <button id = "delete">Delete</button>
        <button id = "update">Update</button>
        <input type="text" id = "username" placeholder = "Username">
        <input type="password" id = "password" placeholder = "Password">
    </form>
</div>

<script src="/js/logic.js"></script>
