<link rel="stylesheet" href="/css/home.css">

    <h1>Welcome!</h1>

    <p>
        The United States is filled with art galleries 
        large and small! There's too many of them. It's my duty to 
        let you know exactly which galleries are worth visiting based on 
        what they decide to put in their exhibitions. 
        <br><br>
        Additionally, I look at individual artists' work and post art theory lectures.
    </p>

    <hr id = "post-welcome">

    <p>
        Critique and Feedback are two completely separate things. 
        <br><br>
        Feedback can be given by anyone. It tells the artist what you like or dislike
        about the piece in question. Critique tells the artist what can be
        improved. Many who aren't willing to put in the time or effort can retort with
        "Well, I don't see you doing any better." This is why I believe that, in order to 
        be a true critic, you have to render this excuse moot by actually being able to do
        better yourself.
        <br><br>
        I'm an artist. While I'm no Bierstadt, I am, at the very least, a journeyman. 
        That might not seem experienced enough of a position to criticize others, but from
        what I've seen in some galleries...I'm plenty qualified.
        <br>
        <br>
        If you'd like to see my work, you can find it at <a target = "_blank" href="//science-and-magic.herokuapp.com/artwork">my website.</a>
        I'm available for art commissions and possibly writing commissions if you like my moxy.
    
    </p>
