#article-title {
    color:rgb(143, 201, 194);
    font-style: italic;

    transition: 1s;
}

#subtitle {
    text-align:center;
}

#score {
    text-align:center;
}

#body {
    max-width: 500px;
    margin: 0 auto;
    line-height: 1.5em;
    overflow-y:scroll;
    font-size: 16px;
}

img {
    width: 100%;
}

a {
    color: rgb(143, 201, 194);
}


@media screen and (max-width: 400px), screen and (max-height: 500px) {
    #main {
        text-align: left;
    }


    .wrapper {
        display: block;
        text-align:center;
        height: 80vh;
        width: 100%;
    }

    img {
        max-height: 100%;
        width: 100%;
    }

}