#article-title {
    color:rgb(143, 201, 194);
    font-style: italic;
}

#subtitle {
    text-align:center;
}

#score {
    text-align:center;
}

#body {
    max-width: 500px;
    margin: 0 auto;
    line-height: 1.5em;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
}


@media only screen and (max-width: 400px) {
    #main {
        text-align: left;
        overflow-y:scroll;
        -webkit-overflow-scrolling: touch;
    }
}