 a {
    color:rgb(143, 201, 194);
    text-decoration: underline;
}

h1 {
    margin: 10px;
    text-align: center;
}

#post-welcome {
    max-width: 400px;
}

p {
    line-height: 1.5em;
    max-width: 500px;
    margin: 0 auto;
}


@media only screen and (max-width: 400px) {
    p, #post-welcome {
        width: 100%;
        max-width: initial;
        min-width: initial;
    }
}
