h1 {
    text-align:center;
}

.review, .lecture {
    cursor:pointer;
    position: relative;
    max-width: 500px;
    text-align:center;
    margin: 10px auto;
    height:60px;
    border-radius:5px;
    perspective: 1000px;
}

.lecture {
    background: rgb(33,66,66);
}

.lecture h3 {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top:50%;
    width: 90%;
    white-space:nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
}

.inner {
    position: relative;
    width: 100%;
    height:100%;
    transform-style: preserve-3d;
    transition: .15s;
}

.review:hover .inner {
    transform: rotateX(180deg);
}

.front, .back {
    position: absolute;
    width: 100%;
    height:100%;
    border-radius: 5px;
    backface-visibility: hidden;
}

.front {
    background:rgb(33,66,66);
    z-index: 1;
}

.back {
    padding:15px;
    transform: rotateX(180deg);
}

.rev-title {
    position:absolute;
    transform: translate(-50%, -50%);
    top:50%;
    left:50%;
}

@media only screen and (max-width: 400px) {

    /* Disable hover functionality */
    .review:hover .inner {
        transform: none;
    }

    .front {
        padding: 5px;
        background: rgba(66,66,66,0);
    }

    .rev-title {
        text-align:left;
        font-style:italic;
        font-size:18px;
        position: initial;
        top:initial;
        left:initial;
        transform: none;
        width: 100%;
    }

    .back {
        transform: none;
        backface-visibility: visible;
    }

    p, h3 {
        text-shadow: 0 2px 2px black;
    }

    .score {
        display:none;
    }

    .subtitle {
        position: absolute;
        bottom:5px;
        right: 5px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width:90%;
        text-align:right;
        padding: 5px;

    }


}